html {
  min-height: 100%;
  margin-bottom: 0;
}

body {
  min-height: 100%;
}

.flex-wrapper {
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}

.bottomAppBar {
  bottom: 0;
}
